[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad
	branch = glad2
[submodule "lib/log"]
	path = lib/log
	url = https://github.com/rxi/log.c
[submodule "lib/cimgui"]
	path = lib/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "lib/ini"]
	path = lib/ini
	url = https://github.com/rxi/ini
[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/vec"]
	path = lib/vec
	url = https://github.com/rxi/vec
[submodule "lib/microtar"]
	path = lib/microtar
	url = https://github.com/rxi/microtar
[submodule "lib/tinyobj"]
	path = lib/tinyobj
	url = https://github.com/syoyo/tinyobjloader-c/
[submodule "lib/parson"]
	path = lib/parson
	url = https://github.com/kgabis/parson
[submodule "lib/map"]
	path = lib/map
	url = https://github.com/rxi/map
