[submodule "lib/log"]
	path = lib/log
	url = https://github.com/rxi/log.c
[submodule "lib/cimgui"]
	path = lib/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "lib/ini"]
	path = lib/ini
	url = https://github.com/rxi/ini
[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/vec"]
	path = lib/vec
	url = https://github.com/rxi/vec
